<div class="main">

  <h2>Employees</h2>
  <div class="button">
    <a href="/employees/login">Login</a>  
  </div>
  <br>
<div class="box">
  <% @employees.each do |employee| %>
  <p><a href="/employees/<%= employee.id %>"><%= employee.name %></a></p>
  <% end %>
</div>
</div>
  <br>
<div class="button">
  <a href="/employees/new">Add a new employee</a>
</div>