<html>
  <head>
    <title>Restaurant</title>
    <link href='http://fonts.googleapis.com/css?family=Abel|Podkova:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/sass/style.css">
  </head>
  <body>
  <div id="containter"
    <header>
      <%= erb :"/static/navigation" %>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <%= erb :"/static/copyright" %>
    </footer>
  </div>
  </body>
</html>