  <label for="name">Menu item name: </label>
  <input id="name" type="text" name='food[name]' value="<%= @food.name %>"><br> 
  
  <label for="allergens">Allergens: </label>
  <input id="allergens" type="text" name='food[allergens]' value="<%= @food.allergens %>"><br>

  <label for="price">Price: </label>
  <input id="price" type="integer" name='food[price]' value="<%= @food.price %>"><br>
  
