<div class="main box">
  <h2>All Parties</h2><br>
  <ul>
    <% @parties.where(employee_id: session[:id]).each do |party| %>
      <li><a href="/parties/<%= party.id %>">Table number <%= party.table_number %></a><li>
    <% end %>
  </ul><br>
</div>
<div class="button">
  <a href="/parties/new">Add party</a>  
</div>
