<div class="main box">
  <form action="/parties" method="post">

  <label for="name">Number of guests: </label>
  <input id="name" type="integer" name='party[people]' value="<%= @party.people %>"><br> 
</div>
<div class="button">
  <input type="submit">
  </form>
</div>