<div class="clearfix">
  <div class="logo">
    <h3>NO STANDARDS</h3>
  </div>  

  <nav class="navbar no-print">
    <a href="/foods">Menu</a>
    <a href="/parties">Parties</a>
    <a href="/employees">Employees</a>
  </nav>
</div>